{% extends 'base.html' %}
{% block content %}

    <h1>Publique su nuevo Post:</h1>

    <p>&nbsp;</p>

    <form class="form-{{ layout }}" action="" method="post">
        {% csrf_token %}

        {{ form.as_p}}
        {% if layout == "horizontal" %}
            <p class="form-actions">
                <input type="submit" value="Postear" class="btn btn-primary">
            </p>
        {% else %}
            <input type="submit" value="Postear" class="btn btn-primary">
        {% endif %}
    </form>

{% endblock %}